# General Framework Configuration
BASE_URL=https://demo.playwright.dev/todomvc
ENV=dev
HEADLESS=true
VIEWPORT_WIDTH=1920
VIEWPORT_HEIGHT=1080
RETRIES=1

# Video & Trace Artifact Settings
RECORD_VIDEO=on # Options: on | off | retain-on-failure | retry-with-video
RECORD_TRACE=on # Options: on | off | retain-on-failure | retry-with-trace

# Email Reporting (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@example.com
SMTP_PASS=your-app-password
MAIL_FROM="PAF Automation Framework <no-reply@paf.com>"
MAIL_TO=qa-team@example.com,devops@example.com
SEND_MAIL_ON_FINISH=false # Set to true to automatically send email on test run finish

# Cloud Execution - LambdaTest Credentials
LAMBDATEST=false
LT_USERNAME=your_lambdatest_username
LT_ACCESS_KEY=your_lambdatest_access_key
LT_GRID_URL=hub.lambdatest.com/playwright/cdp
